body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
}

.header {
    grid-column: 1 / 4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column: 1 / 4;
    padding: 20px;
}

.sidebar {
    background-color: #ddd;
    padding: 20px;
    text-align: left;
}

.content {
    background-color: #eee;
    padding: 20px;
    text-align: left;
}

.footer {
    grid-column: 1 / 4;
    background-color: #f1f1f1;
    text-align: center;
    padding: 20px;
}


a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #0056b3;
}